<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Guevara: Comentarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Comentarios</h1>
        <h2>Opiniones sobre mi página</h2>

        <nav>
            <ul>
                <li><a href="{{ url_for('index_page') }}">Volver a inicio</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <hr>

    <main>
        <div id="lista-comentarios">
            <p>Cargando comentarios...</p>
        </div>

        <div class="centrar">
            <a href="{{ url_for('agregar-comentario_page') }}">
                <button>Agregar comentario</button>
            </a>
        </div>
    </main>
    <hr>

    <footer>
        <h2 id="contacto">Contacto:</h2>
        <p id="correo">Correo:<br><a href="mailto:oguevara@unsa.edu.pe">oguevara@unsa.edu.pe</a></p>
        
        <h2 id="redes">Redes sociales:</p></h2>
        <a href="https://www.instagram.com/omar.guevara.26?igsh=cWJ3c3hzdDRjbGdm" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-insta.png') }}"
                width="40">Instagram</a></li>
        <a href="https://www.facebook.com/omar.andree.guvara.aliaga" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-facebook.png') }}"
                width="40">Facebook</a></li>
        <a href="https://w.app/sbaq87" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-whats.png') }}"
                width="40">WhatsApp</a></li>        
        <a href="https://github.com/oguevara-code" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-github.png') }}"
                width="40">GitHub</a></li>   
    </footer>

    <script src="{{ url_for('static', filename='js/comentarios.js') }}"></script>
</body>
</html>