<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Guevara: Estudios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
       <h1>Mis estudios</h1> 
    <h2>Menú</h2>
    <nav>
        <ul>
            <li><a href="#inicial">Educación Inicial</a></li>
            <li><a href="#primaria">Educación Primaria</a></li>
            <li><a href="#secundaria">Educación Secundaria</a></li>
            <li><a href="#universidad">Educación Superior</a></li>
            <br>
            <li><a href="{{ url_for('index') }}">Volver a inicio</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    </header>
    <hr>
    <main>
        <h2 id="inicial">Educación Inicial</h2>
        <p>Comencé mi educación inicial en el colegio San Martín de Porres, 
            40009 en Paucarpata, donde di mis primeros pasos en el aprendizaje.Fue una etapa 
            muy divertida, llena de juegos, canciones y amigos nuevos. Allí 
            aprendí valores importantes como el respeto y la cooperación.</p>
        <div class="centrar">
        <img src="{{ url_for('static', filename='img/smp1.jpg') }}" 
        alt="Colegio San Martin de Porres" width="500">
        </div>

        <h2 id="primaria">Educación Primaria</h2>
        <p>Continué mis estudios en el mismo colegio San Martín de Porres, donde 
            empecé a aprender algunas cosas de matemáticas o letras, pero como 
            cualquier niño, no me me gustaba estudiar, no era el mejor alumno y 
            tampoco el peor</p>
        <div class="centrar">
        <img src="{{ url_for('static', filename='img/smp2.jpg') }}" 
        alt="Colegio San Martin de Porres" width="400">
        </div>

        <h2 id="secundaria">Educación Secundaria</h2>
        <p>También estudié la secundaria en el colegio San Martín, donde
            recien empecé a ponerme a estudiar, un día decidí prestar atención 
            a las clases de matemáticas y todo cobró sentido. Rapidamente me volvi 
            de los mejores de mi salón. Tambien aquí fue donde vivi la pandemia,
            pasé por la clases virtuales, donde no aprendí mucho, pero al volver
            a las clases presenciales, seguí mejorando en las matemáticas convirtiendose
            en mi curso favorito junto con educación para el trabajo.
        </p>
        <div class="centrar">
        <img src="{{ url_for('static', filename='img/smp3.jpg') }}" 
        alt="Colegio San Martin de Porres" width="500">
        </div>
        
        <h2 id="universidad">Educación Superior</h2>
        <p>Este año 2025 empecé a estudiar en la Universidad Nacional de San Agustín,
            vo cursando el II semestre y en este poco tiempo que llevo, siento que 
            estoy aprendiendo mucho, conocí nuevos amigos de ingenieria de sistemas y
            de otras carreras y también me siento algo más tranquilo en comparación 
            cuando estaba postulando para ingresar a la universidad.
        </p>
        <div class="centrar">
        <img src="{{ url_for('static', filename='img/UNSA.png') }}" alt="UNSA" width="600">
        </div>
        <br>
    </main>
    <hr>
   <footer>
        <h2 id="contacto">Contacto:</h2>
        <p id="correo">Correo:<br><a href="mailto:oguevara@unsa.edu.pe">oguevara@unsa.edu.pe</a></p>
        
        <h2 id="redes">Redes sociales:</p></h2>
        <a href="https://www.instagram.com/omar.guevara.26?igsh=cWJ3c3hzdDRjbGdm" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-insta.png') }}"
                width="40">Instagram</a></li>
        <a href="https://www.facebook.com/omar.andree.guvara.aliaga" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-facebook.png') }}"
                width="40">Facebook</a></li>
        <a href="https://w.app/sbaq87" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-whats.png') }}"
                width="40">WhatsApp</a></li>        
        <a href="https://github.com/oguevara-code" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-github.png') }}"
                width="40">GitHub</a></li>   
    </footer>
</body>
</html>