<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Guevara: Hobbies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
       <h1>Mis hobbies</h1> 
    <h2>Menú</h2>
    <nav>
        <ul>
            <li><a href="#deportes">Deportes</a></li>
            <li><a href="#musica">Música</a></li>
            <li><a href="#juegos">Videojuegos</a></li>
            <li><a href="#danza">Danzas Folclóricas</a></li>
            <br>
            <li><a href="{{ url_for('index') }}">Volver a inicio</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    </header>
    <hr>
    <main>
        
            <h2 id="deportes">Deportes</h2>
                <ul>
                <li><h3>Natación</h3>
                <p>La natación es de mis deportes favoritos, ya que es un deporte
                    que lo llevo realizando desde que era un niño (5 o 6 años paroximadamente),
                    era el deporte que más esfuerzo y dedicación le puse, conseguí muchas medallas y
                    trofeos con mi club, en este deporte me di cuenta que si quiero conseguir algo, tengo
                    que esforzarme mucho, todo iba bien, hasta que llego la pandemia, todas las piscinas 
                    fueron cerradas y tuve que dejar de practicarla. Actualmente voy poco a la piscina
                    pero sigo teniendo ese cariño al deporte.
                </p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/natacion.webp') }}"
                alt="natacion" width="500">
                </div>
            
            </li>
                <li><h3>Basquetball</h3>
                <p>El basquetball se volvio de mis deportes favoritos, también le dedique tiempo y 
                    esfuerzo, pero no tanto como a la natación, participe en campeonatos de la ciudad,
                    conocí a muchas personas gracias a este deporte, pero la deje de practicar por precuparme
                    en ingresar a la universidad. En las olimpiadas cachimbo participé en este deporte, fue algo
                    que voy a tener guardado siempre.
                </p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/basquet.jpeg') }}" 
                alt="basquetball" width="500">
                </div>
            </li>
                <li><h3>Ciclismo</h3>
                <p>Me gusta hacer ciclismo, a veces salgo con mis amigos a pasear, me gusta salir a manejar
                    y escuchar música, porque de alguna manera me tranquiliza y me ayuda a despejarme, me gustaria
                    viajar con mi bicicleta, como ir a yura, chivay o hasta Chapi.
                </p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/ciclismo.webp') }}" 
                alt="ciclismo" width="500">
                </div>
            </li>
                </ul>
            
            
            <h2 id="musica">Música</h2>
            <p>La música siempre ha sido una parte importante de mi vida. Me gusta escuchar de todo un poco, 
                pero sobre todo géneros como rock, bachata, salsa, pop, etc. Dependiendo de mi estado 
                de ánimo, puedo pasar horas escuchando playlists o descubriendo nuevas canciones.  
                Algunas de mis bandas y artistas favoritos son Romero Santos, Gustavo Cerati y Xdinero.  
                La música me ayuda a concentrarme cuando estudio y también a relajarme después de un día largo.</p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/generos.jpg') }}" 
                alt="generos de musica" width="500">
                </div>

            <p>Además, me gusta tocar la guitarra en mis ratos libres. Siento que soy bueno, disfruto mucho 
                tocando solos de guitarra, ya que me tranquiliza y me hace sentir que soy muy bueno. 
                Para mí, la música es lo mejor que puede existir.</p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/guitarrista.webp') }}" 
                alt="guitarrista" width="350">
                </div>
            
            <h2 id="juegos">Videojuegos</h2>
            <p>Los videojuegos son uno de mis pasatiempos favoritos. Desde pequeño me ha gustado jugar, no solo 
                por diversión, sino también porque me gusta la forma en que te hacen pensar y reaccionar rápido.  
                Suelo jugar con mis amigos online y a veces también solo, cuando quiero relajarme o distraerme un poco.</p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/videojuegos.jpg') }}" 
                alt="videojuegos" width="450">
                </div>

            <p>Mis géneros favoritos son los shooters y de aventura. Algunos juegos que me gustan son 
                Call of duty, Clash Royale, Minecraft y Dragon Ball. En cada uno encuentro algo distinto: creatividad, trabajo en equipo o simplemente 
                momentos para reírme con mis amigos.  
                También me interesa el desarrollo de videojuegos, ya que combina programación, diseño y creatividad, 
                cosas que me apasionan.</p>
                <div class="centrar">
                <img src="{{ url_for('static', filename='img/tipos.jpg') }}" 
                alt="videojuego" width="500">
                </div>
            

            <h2 id="danza">Danzas folclóricas</h2>
            <ul>
                <li><h3>Morenada</h3>
                <p>La morenada es una danza que siempre me ha llamado la atención por su elegancia y ritmo. 
                    Me gusta ver cómo los bailarines se mueven al compás del bombo y los platillos. He tenido la oportunidad 
                    de participar en algunas presentaciones, y aunque el traje es pesado, la emoción de bailar y representar 
                    parte de nuestra cultura lo vale totalmente.</p>
                    <div class="centrar">
                    <img src="{{ url_for('static', filename='img/morenada.jpg') }}" 
                    alt="morenada" width="400">
                    </div>
                </li>

                <li><h3>Caporales</h3>
                <p>El caporal es una de las danzas más enérgicas y alegres que existen. Lo que más me gusta son los saltos 
                    y la fuerza que transmite cada movimiento. Participar en un grupo de caporales fue una experiencia muy divertida, 
                    porque se siente la unión, el ritmo y el orgullo de mostrar nuestras raíces.</p>
                    <div class="centrar">
                    <img src="{{ url_for('static', filename='img/caporales.jpg') }}" 
                    alt="caporales" 
                    width="400">
                    </div>
                </li>

                <li><h3>Tinkus</h3>
                <p>El tinkus es una danza que me gusta por su potencia y coordinación. Es una danza que representa fuerza y 
                    energía, y me parece impresionante cómo se combinan los colores vivos de los trajes con los pasos rápidos 
                    y precisos. He visto varias presentaciones en festivales y siempre me transmiten mucha emoción.</p>
                    <div class="centrar">
                    <img src="{{ url_for('static', filename='img/tinkus.jpg') }}" 
                    alt="tinkus" width="400">
                    </div>
                </li>

                <li><h3>Diablada</h3>
                <p>La diablada es una danza que admiro mucho por su historia y simbolismo. Me encantan las máscaras, 
                    los trajes brillantes y la música intensa que la acompaña. Cada vez que veo una presentación, me impresiona 
                    cómo los bailarines logran combinar la fuerza del personaje con pasos tan coordinados.  
                    Es una danza que representa muy bien la riqueza cultural de los Andes.</p>
                    <div class="centrar">
                    <img src="{{ url_for('static', filename='img/diablada.jpg') }}" 
                    alt="diablad" width="400">
                    </div>
                </li>
    </main>
    <hr>

    <footer>
        <h2 id="contacto">Contacto:</h2>
        <p id="correo">Correo:<br><a href="mailto:oguevara@unsa.edu.pe">oguevara@unsa.edu.pe</a></p>
        
        <h2 id="redes">Redes sociales:</p></h2>
        <a href="https://www.instagram.com/omar.guevara.26?igsh=cWJ3c3hzdDRjbGdm" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-insta.png') }}"
                width="40">Instagram</a></li>
        <a href="https://www.facebook.com/omar.andree.guvara.aliaga" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-facebook.png') }}"
                width="40">Facebook</a></li>
        <a href="https://w.app/sbaq87" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-whats.png') }}"
                width="40">WhatsApp</a></li>        
        <a href="https://github.com/oguevara-code" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-github.png') }}"
                width="40">GitHub</a></li>   
    </footer>
</body>
</html>