<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Guevara: Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
       <h1>Mi página Web personal</h1> 
    <h2>Menú</h2>
    <nav>
        <details>
            <summary>¿Quién soy?</summary>
            <ul>
                <li><a href="#yo">Sobre mí</a></li>
                <li><a href="#familia">Mi familia</a></li>
                <li><a href="#pregunta">¿Porqué escogí ingeniería de sistemas??</a></li>
            </ul>
        </details>
        <details>
            <summary>Mis estudios</summary>
            <ul>
                <li><a href="{{ url_for('estudios_page') }}#inicial">Inicial</a></li>
                <li><a href="{{ url_for('estudios_page') }}#primaria">Primaria</a></li>
                <li><a href="{{ url_for('estudios_page') }}#secundaria">Secundaria</a></li>
                <li><a href="{{ url_for('estudios_page') }}#universidad">Universidad</a></li>
            </ul>
        </details>
        <details>
            <summary>Mis hobbies</summary></a>
            <ul>
                <li><a href="{{ url_for('hobbies_page') }}#deportes">Deportes</a></li>
                <li><a href="{{ url_for('hobbies_page') }}#musica">Música</a></li>
                <li><a href="{{ url_for('hobbies_page') }}#juegos">Videojuegos</a></li>
                <li><a href="{{ url_for('hobbies_page') }}#danza">Danzas Folclóricas</a></li>
            </ul>
        </details>
        <details>
            <summary>Metas personales</summary>
            <ul>
                <li><a href="{{ url_for('metas_page') }}#corto">A corto plazo</a></li>
                <li><a href="{{ url_for('metas_page') }}#largo">A largo plazo</a></li>
            </ul>
        </details>
        <details>
            <summary>Comentarios</summary>
            <ul>
                <li><a href="{{ url_for('comentarios_page') }}">Ver comentarios</a></li>
                <li><a href="{{ url_for('agregar-comentario_page') }}">Agregar comentario</a></li>
            </ul>
        </details>
        <details>
            <summary>Contacto</summary>
            <ul>
                <li><a href="#correo">Correo</a></li>
                <li><a href="#redes">Redes sociales</a></li>
            </ul>
        </details>
    </nav>
    </header>
    <hr>

    <main>
        <h2 id="yo">¿Quién soy?</h2>
        <p>Hola, mi nombre es Omar Guevara. Soy estudiante de Ingeniería de Sistemas
            en la Universidad Nacional de San Agustín de Arequipa. Me considero una 
            persona responsable, curiosa, perseverante y también muy competitiva, 
            siempre interesada en aprender cosas nuevas, especialmente sobre tecnología 
            y programación. En mi tiempo libre disfruto escuchar música, jugar videojuegos 
            y pasar tiempo con mis amigos. Mi meta es seguir creciendo como persona y profesional 
            para poder aportar algo positivo a la sociedad.
        </p>
        <h2 id="familia">Mi familia</h2>
        <p>Mi familia es el pilar más importante en mi vida. Está conformada por mis padres, 
            mi hermano y nuestra mascota. Siempre me han brindado su apoyo y cariño en cada etapa, 
            enseñándome valores como el respeto, la honestidad y la empatía. Gracias a ellos aprendí 
            a esforzarme por mis metas y a valorar los pequeños momentos juntos, ya sea compartiendo 
            una comida o simplemente conversando en casa.
        </p>
        <h2 id="pregunta">¿Porqué escogí ingenieria de sistemas?</h2>
        <p>Empecé a interesarme por la carrera cuando en mi ultimo año de colegio, mi profesor del curso
            de EPT (educación para el trabajo), empezó a tocar temas de programación con las computadoras, fue algo que me gusto de inmediato,
            así que empecé a buscar que carreras estaban relacionadas con la programación, pero me decidí por ingenieria
            de sistemas porque me dí cuenta que se necesitaba más puntaje para ingresar, en este poco tiempo que llevo estudiando la carrera
            me doy cuenta que es una carrera que tiene futuro y que debo sacarle el máximo provecho</p>
    </main>
    <hr>
    <footer>
        <h2 id="contacto">Contacto:</h2>
        <p id="correo">Correo:<br><a href="mailto:oguevara@unsa.edu.pe">oguevara@unsa.edu.pe</a></p>
        
        <h2 id="redes">Redes sociales:</p></h2>
        <a href="https://www.instagram.com/omar.guevara.26?igsh=cWJ3c3hzdDRjbGdm" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-insta.png') }}"
                width="40">Instagram</a></li>
        <a href="https://www.facebook.com/omar.andree.guvara.aliaga" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-facebook.png') }}"
                width="40">Facebook</a></li>
        <a href="https://w.app/sbaq87" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-whats.png') }}"
                width="40">WhatsApp</a></li>        
        <a href="https://github.com/oguevara-code" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-github.png') }}"
                width="40">GitHub</a></li>   
    </footer>
</body>
</html>