<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omar Guevara: Metas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
       <h1>Mis metas</h1> 
    <h2>Menú</h2>
    <nav>
        <ul>
            <li><a href="#corto">A corto plazo</a></li>
            <li><a href="#largo">A largo plazo</a></li>
            <br>
            <li><a href="{{ url_for('index') }}">Volver a inicio</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    </header>
    <hr>
    <main>
            <ul>
                <li><h3 id="corto">Metas a corto plazo</h3>
                <p>Mis metas a corto plazo están enfocadas principalmente en mi formación y crecimiento personal. 
                    Quiero seguir mejorando en mis estudios universitarios y adaptarme cada vez más al ritmo académico. 
                    También deseo organizar mejor mi tiempo para poder equilibrar mis responsabilidades con mis hobbies.  
                    Otra meta importante para mí es mantener una buena salud física y mental, por eso quiero volver a hacer deporte 
                    con más constancia y mantener hábitos más saludables.  
                    Además, me gustaría seguir aprendiendo cosas nuevas fuera de la universidad, como reforzar mis conocimientos en 
                    programación y mejorar en inglés.
                </p></li>
                <li><h3 id="largo">Metas a largo plazo</h3>
                <p>A largo plazo, mi objetivo principal es convertirme en un profesional competente y apasionado por lo que hace.  
                    Me gustaría trabajar en algo relacionado con el desarrollo de software o la tecnología, aportando soluciones 
                    innovadoras que realmente ayuden a las personas.  
                    También quiero seguir formándome constantemente, quizás realizar una especialización o maestría, y algún día 
                    tener mi propio proyecto o empresa relacionada con la tecnología.  
                    En el plano personal, me gustaría poder viajar, conocer nuevos lugares y culturas, y mantener siempre el deseo 
                    de aprender y superarme.  
                    Mi meta más grande es lograr una vida estable, feliz y equilibrada entre lo personal, lo profesional y lo emocional.
                </p></li>
            </ul>
    </main>
    <hr>
    <footer>
        <h2 id="contacto">Contacto:</h2>
        <p id="correo">Correo:<br><a href="mailto:oguevara@unsa.edu.pe">oguevara@unsa.edu.pe</a></p>
        
        <h2 id="redes">Redes sociales:</p></h2>
        <a href="https://www.instagram.com/omar.guevara.26?igsh=cWJ3c3hzdDRjbGdm" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-insta.png') }}"
                width="40">Instagram</a></li>
        <a href="https://www.facebook.com/omar.andree.guvara.aliaga" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-facebook.png') }}"
                width="40">Facebook</a></li>
        <a href="https://w.app/sbaq87" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-whats.png') }}"
                width="40">WhatsApp</a></li>        
        <a href="https://github.com/oguevara-code" target="_blank">
            <img src="{{ url_for('static', filename='img/logo-github.png') }}"
                width="40">GitHub</a></li>   
    </footer>
</body>
</html>